apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ingress-nginx

resources:
- namespace.yaml

helmCharts:
- name: ingress-nginx
  repo: https://kubernetes.github.io/ingress-nginx
  version: 4.13.0
  releaseName: ingress-nginx
  namespace: ingress-nginx
  valuesInline:
    controller:
      kind: Deployment
      replicaCount: 3
      ingressClassResource:
        default: true
      admissionWebhooks:
        enabled: false
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
      resources:
        requests:
          memory: 500Mi
          cpu: 25m
        limits:
          memory: 600Mi
      service:
        externalTrafficPolicy: "Local"
    defaultBackend:
      enabled: true
      image:
        repository: ghcr.io/tarampampam/error-pages
        tag: 3.4.1
      extraEnvs:
      - { name: TEMPLATE_NAME, value: orient }
      - { name: SHOW_DETAILS, value: "false" }
      resources:
        requests:
          memory: 250Mi
          cpu: 25m
        limits:
          memory: 350Mi
