apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml

namespace: rook-ceph

helmCharts:
- name: rook-ceph
  repo: https://charts.rook.io/release
  version: v1.18.8
  releaseName: rook-ceph-operator
  namespace: rook-ceph
  valuesInline:
    crds:
      enabled: true
    csi:
      kubeletDirPath: /var/lib/kubelet
      enableCSIHostNetwork: true
      enableGrpcMetrics: true
      enableCSIEncryption: false
      csiAddons:
        enabled: false
      serviceMonitor:
        enabled: true
    monitoring:
      enabled: false
    resources:
      requests:
        cpu: 10m
        memory: 128Mi
      limits:
        cpu: 1500m
        memory: 512Mi

- name: rook-ceph-cluster
  repo: https://charts.rook.io/release
  version: v1.18.8
  releaseName: rook-ceph-cluster
  namespace: rook-ceph
  valuesInline:
    operatorNamespace: rook-ceph
    cephClusterSpec:
      cephVersion:
        image: 'quay.io/ceph/ceph:v19.2.3'
      external:
        enable: true
      crashCollector:
        disable: true
      healthCheck:
        daemonHealth:
          mon:
            disabled: false
            interval: 45s
    monitoring:
      enabled: false
    cephBlockPools: []
    cephFileSystems: []
    cephObjectStores: []
    cephBlockPoolsVolumeSnapshotClass:
      enabled: true
      name: ceph-rbd-snapshot
      isDefault: false
      deletionPolicy: Delete
      parameters:
        pool: defaultrbd
