---
clusterName: invertedorigin

# renovate: datasource=github-releases depName=siderolabs/talos
talosVersion: v1.12.3

# renovate: datasource=github-releases depName=kubernetes/kubernetes
kubernetesVersion: v1.34.3

endpoint: https://node-1:6443

allowSchedulingOnMasters: true
allowSchedulingOnControlPlanes: true

additionalApiServerCertSans: []

additionalMachineCertSans: []

clusterPodNets:
  - 10.244.0.0/16
clusterSvcNets:
  - 10.245.0.0/16

cniConfig:
  name: none

nodes:
## CORE HOME OFFICE RACK (battery backup) ##
  - hostname: node-1
    talosImageURL: factory.talos.dev/installer/4d2f14467f85468b6b5ff0ba1747f7f0bcb97d351d516db0197885247093d6fd
    ipAddress: node-1
    controlPlane: true
    installDiskSelector:
      model: QEMU HARDDISK
    disableSearchDomain: false
    nodeLabels:
      topology.kubernetes.io/region: home
  - hostname: node-2
    talosImageURL: factory.talos.dev/installer/4d2f14467f85468b6b5ff0ba1747f7f0bcb97d351d516db0197885247093d6fd
    ipAddress: node-2
    controlPlane: true
    installDiskSelector:
      model: QEMU HARDDISK
    disableSearchDomain: false
    nodeLabels:
      topology.kubernetes.io/region: home
  - hostname: node-3
    talosImageURL: factory.talos.dev/installer/4d2f14467f85468b6b5ff0ba1747f7f0bcb97d351d516db0197885247093d6fd
    ipAddress: node-3
    controlPlane: true
    installDiskSelector:
      model: QEMU HARDDISK
    disableSearchDomain: false
    nodeLabels:
      topology.kubernetes.io/region: home
patches:
  - |-
    machine:
      kernel:
        modules:
          - name: nbd
      features:
        kubernetesTalosAPIAccess:
          enabled: true
          allowedRoles:
            - os:admin
          allowedKubernetesNamespaces:
            - system-upgrade
        hostDNS:
          enabled: true
          forwardKubeDNSToHost: true
          resolveMemberNames: true
  - |
    machine:
      sysctls:
        net.core.rmem_max: 2500000
        net.core.wmem_max: 2500000
  - |
    machine:
      files:
        - content: |
            [plugins."io.containerd.grpc.v1.cri"]
              enable_unprivileged_ports = true
              enable_unprivileged_icmp = true
          path: /etc/cri/conf.d/20-customization.part
          op: create
      kubelet:
        nodeIP:
          validSubnets:
            - 10.0.1.0/24
      features:
        kubePrism:
          enabled: true
          port: 7445
controlPlane:
  patches:
    - |
      cluster:
        allowSchedulingOnMasters: true
        apiServer:
          admissionControl: null
        discovery:
          enabled: true
          registries:
            kubernetes:
              disabled: true
            service: {}
        etcd:
          advertisedSubnets:
            - 10.0.1.0/24
        proxy:
          disabled: true
