apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- secret-store.yaml

patches:
- target:
    group: apiextensions.k8s.io
    version: v1
    kind: CustomResourceDefinition
  patch: |-
    - op: add
      path: /metadata/annotations/argocd.argoproj.io~1sync-options
      value: ServerSideApply=true

helmCharts:
- name: external-secrets
  repo: https://charts.external-secrets.io
  version: "2.0.1"
  releaseName: external-secrets
  namespace: external-secrets
  includeCRDs: true
  valuesInline:
    installCRDs: true
    serviceMonitor:
      enabled: true
      namespace: external-secrets
