apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- https://raw.githubusercontent.com/external-secrets/external-secrets/v0.8.1/deploy/crds/bundle.yaml
- secret-store.yaml

helmCharts:
- name: external-secrets
  repo: https://charts.external-secrets.io
  version: "0.9.13"
  releaseName: external-secrets
  namespace: external-secrets
  includeCRDs: false
  valuesInline:
    installCRDs: false
    serviceMonitor:
      enabled: true
      namespace: external-secrets
