apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- https://github.com/kubernetes-sigs/node-feature-discovery/deployment/overlays/default?ref=v0.16.3

patches:
- target:
    group: ''
    version: v1
    kind: ConfigMap
    namespace: node-feature-discovery
    name: nfd-worker-conf
  patch: |
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: nfd-worker-conf
      namespace: node-feature-discovery
    data:
      nfd-worker.conf: |
        core:
          # I don't plan on running a very large cluster
          # but want more responsiveness to hardware changes
          sleepInterval: 10s

patchesStrategicMerge:
- |-
  apiVersion: v1
  kind: Namespace
  metadata:
    name: node-feature-discovery
    labels:
      pod-security.kubernetes.io/enforce: privileged
