apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- service.yaml

namespace: mqtt

helmCharts:
- name: nats
  repo: https://nats-io.github.io/k8s/helm/charts/
  version: 2.12.4
  releaseName: nats
  namespace: mqtt
  valuesInline:
    config:
      cluster:
        enabled: false
      jetstream:
        enabled: true
        fileStore:
          pvc:
            storageClassName: ceph-rbd
            size: 10Gi
      mqtt:
        enabled: true
    promExporter:
      enabled: false
    podTemplate:
      merge:
        spec:
          affinity:
            podAntiAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
              - labelSelector:
                  matchExpressions:
                  - key: "app.kubernetes.io/component"
                    operator: In
                    values:
                    - nats
                topologyKey: "kubernetes.io/hostname"
    natsBox:
      enabled: true
